/* Body Style */
body {
  margin: 0 auto;
  width: 80%;
  font-family: "Inter", sans-serif;
  background-color: #fafaf9;
}

.review-page-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 200px;
}

.fa-regular {
  background-color: #f5c044;
  border-radius: 50%;
  padding: 10px;
}

.reviewer-title {
  font-size: 2.25rem;
  color: #18181b;
}

.reviewer-description {
  font-size: 1.25rem;
  color: #18181b;
  padding-right: 200px;
}

.reviewer-text-box {
  margin-left: 30px;
}

.reviewer-text-box > li {
  list-style-image: url("../images/Done_ring_round_fill.svg");
  font-size: 0.875rem;
  color: #18181b;
}

.google-box {
  margin-right: 250px;
  margin-left: 160px;
}

.google-sub-box {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 15px;
  margin-bottom: 30px;
}

.meta-box {
  margin-right: 430px;
}

.meta-sub-box {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 40px;
}

.google-icon {
  width: 25%;
  height: 25%;
}

.meta-icon {
  width: 25%;
  height: 25%;
}

.reviewer-name {
  font-size: 1rem;
  color: #18181b;
}

.review {
  font-size: 1rem;
  color: #18181b;
}

/* Media Rule for Mobile - 640px */
@media only screen and (max-width: 640px) {
  .review-page-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .google-box {
    margin-left: 80px;
  }

  .meta-box {
    .meta-box {
      margin-right: 80px;
    }
  }
}
